.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.product-item {
  width: calc(33.33% - 20px); /* Each item takes 33.33% width with 20px spacing */
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 8px;
  text-align: left;
}

@media (max-width: 767px) {
  .product-item {
    width: calc(50% - 20px); /* On smaller screens, each item takes 50% width with 20px spacing */
  }
}

@media (max-width: 479px) {
  .product-item {
    width: 100%; /* On even smaller screens, each item takes 100% width */
  }
}
